@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  -webkit-user-select: none;
  user-select: none;
} */

* {
  scroll-behavior: smooth;
}

.radial_one {
  /* background: radial-gradient(circle, #ff7e5f , #ff2e63); */
  background-color: #8b7bcf;
  position: absolute;
  right: -10px;
  top: -10px;
  height: 300px;
  width: 200px;
  border-radius: 100%;
  filter: blur(100px);
}
.radial_two {
  background-color: #8b7bcf;
  position: absolute;
  bottom: 20px;
  right: 150px;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  filter: blur(70px);
}

.radial_three {
  background-color: #ef9364;
  position: absolute;
  bottom: 20px;
  left: 0px;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  filter: blur(70px);
}

.span_text {
  background-image: linear-gradient(23deg, #9de8ee 0%, #3f2182 56%, #5e3aef 100%);
  background-clip: text;
  color: transparent;
}

.dance {
  filter: drop-shadow(0px 0px 20px #a5a6f6);
}

.danceTwo {
  filter: drop-shadow(0px 0px 20px #f178b6);
}

.danceThree {
  filter: drop-shadow(0px 0px 20px #ce9031);
}

.icon_part {
  background: linear-gradient(135deg, #9f8ced, #f67d17, #9de8ee);
}

.fade {
  transition: opacity 1s ease-in-out;
}

.accountDance {
  filter: drop-shadow(0px 0px 5px #958f9a);
}

.blogs_div {
  box-shadow: 0px 0px 10px inset #f6ebff;
}

.main_div {
  box-shadow: 0px 0px 10px #f6ebff;
  backdrop-filter: blur(40px); /* Adjust the pixel value to control the amount of blur */
}

.smartPeople {
  height: 15rem;
  width: 15rem;
}

.anchorText {
  color: #a5a6f6;
}

/* #mainSection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
} */
/* .top{
  display: flex;
  margin-top: 5rem;
 
}



.smartPeople-container{
  margin-top: 5rem;
}

.headingPara{
  flex: 1;
}

#mainSection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
}
 */
